@import "variaveis.less";

#colors() {
    backgroundColor: @corFundo;
    headerColor: @corCabecalho;
    buttonColor: @corBotao;
    buttonHoverColor: @corBotaoHover;
}

#fonts {
    fontPrimaria: Roboto;
    fontSecundaria: sans-serif;
}